@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

$icon-anim-time = 0.5s

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-family: sans-serif;
}

.pic{
	margin:0;
	padding: 0;
	opacity: 100%;
	width: 100%;
	height: 500px;
	background: rgba(130,45,3,1);
	border: 1px solid #000;
}

.icon {
	text-decoration: none;
	color: #fff;
	font-size: 80px;
	position: absolute;
}

.main {
	z-index: 8;
	margin-top: -17px;
	margin-left: -12px;
}

.second{
	font-size: 0;
	color: grey;

}
.group{

	top: 200px;
	text-align: center;
}

.qwote-btn{
	position: relative;
	top: 40%;
}

.iron:hover{
	background-color: blue;
	color: white;
}

.captain:hover{
	background-color: blue;
	color:white;
}

.hulk:hover{
	background-color: green;
	color: rgba(5,66,2,1);
}

 .qwote-btn:hover .second{
	font-size: 3.5rem;
	border-radius: 400px;
	line-height: 0px;
	width: 3.5rem;
	height: 3.5rem;
	padding: 3px;
	display: inherit-block;
}
	.qwote-btn:hover .iron {
		margin-top: -100px;
		animation: btn-rotate .75s ease;
		transition: all 0.75s ease;
		animation-fill-mode: both;
	}

	.qwote-btn:hover .thor {
		margin-left: 70px;
		margin-top: -70px;
		font-size: 3.25rem;
		animation: btn-rotate .75s ease;
		transition: all 0.75s ease;
		transition-delay:.1s;
		-webkit-animation-delay:.1s;
		animation-delay:.1s;
	}

	.qwote-btn:hover .captain {
		margin-left: 100px;
		animation: btn-rotate .75s ease;
		transition: all 0.75s ease;
		transition-delay:.2s;
		-webkit-animation-delay:.2s;
		animation-delay:.2s;
	}

	
	.qwote-btn:hover .hulk {
		margin-left: 70px;
		margin-top: 70px;
		animation: btn-rotate .75s ease;
		transition: all 0.75s ease;
		transition-delay:.3s;
		-webkit-animation-delay:.3s;
		animation-delay:.3s;
	}
	.qwote-btn:hover .widow {
		margin-top: 100px;
		animation: btn-rotate .75s ease;
		transition: all 0.75s ease;
		transition-delay:.4s;
		-webkit-animation-delay:.4s;
		animation-delay:.4s;
	}

	.qwote-btn:hover .hawk {
		margin-left: -70px;
		margin-top:70px;
		animation: btn-rotate .75s ease;
		transition: all 0.5s ease;
		transition-delay:.75s;
		-webkit-animation-delay:.5s;
		animation-delay:.5s;
	}

	.qwote-btn:hover .shield {
		margin-left: -100px;
		animation: btn-rotate .75s ease;
		transition: all 0.75s ease;
		transition-delay:.6s;
		-webkit-animation-delay:.6s;
		animation-delay:.6s;
	}

	.qwote-btn:hover .panther{
		margin-left: -70px;
		margin-top: -70px; 
		animation: btn-rotate .75s ease;
		transition: all 0.75s ease;
		transition-delay:.7s;
		-webkit-animation-delay:.7s;
		animation-delay:.7s;
	}
}

@-moz-keyframes btn-rotate {
  0% {
    transform: rotate(160deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes btn-rotate {
  0% {
    transform: rotate(160deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes btn-rotate {
  0% {
    transform: rotate(160deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes btn-rotate {
  0% {
    transform: rotate(160deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
